*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: 'Heebo', sans-serif;
  height: 95vh; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

header {
  background-color: #000;
  overflow: hidden; }

.container {
  max-width: 1140px;
  margin: auto; }

.nav {
  padding-top: 75px; }

.logo {
  width: 20%;
  float: left; }

.menu {
  width: 80%;
  float: right;
  overflow: hidden; }
  .menu ul {
    float: right;
    list-style: none; }
    .menu ul li {
      float: left; }
      .menu ul li:not(:last-child) {
        padding-top: 15px;
        margin-right: 50px; }
        .menu ul li:not(:last-child) a {
          text-decoration: none;
          color: #fff;
          position: relative;
          display: inline-block;
          font-size: 15px;
          line-height: 18px;
          font-weight: 400; }
          .menu ul li:not(:last-child) a::after {
            content: '';
            width: 0%;
            height: 2px;
            background-color: #ddfd27;
            position: absolute;
            top: 100%;
            left: 50%;
            opacity: 0;
            transform: translateX(-50%);
            transition: .3s; }
          .menu ul li:not(:last-child) a:hover::after {
            width: 100%;
            opacity: 1; }
      .menu ul li:last-child a {
        font-size: 13px;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        background-image: linear-gradient(to left top, #fa7236, #ff0566);
        padding: 15px 30px;
        border-radius: 50px;
        display: inline-block;
        margin-bottom: 10px;
        position: relative;
        z-index: 1; }
        .menu ul li:last-child a .hoverspan {
          position: absolute;
          height: 100%;
          width: 100%;
          border-radius: 50px;
          background-image: linear-gradient(140deg, #3ed445, #3d1ab9);
          top: 0;
          left: 0;
          z-index: -1;
          transition: all .5s;
          opacity: 0; }
        .menu ul li:last-child a:hover .hoverspan {
          opacity: 10; }
        .menu ul li:last-child a img {
          position: relative;
          top: 3px;
          margin-left: 8px; }

.col-1-of-2 {
  width: calc((100% - 30px) / 2);
  float: left;
  position: relative; }
  .col-1-of-2:not(:last-child) {
    margin-right: 30px; }

.mr-0 {
  margin-right: 0 !important; }

.des h2 {
  font-size: 60px;
  font-weight: 100;
  line-height: 82px;
  color: transparent;
  margin-top: 160px;
  background-image: linear-gradient(to right, #fc234c, #fe5413);
  -webkit-background-clip: text;
  background-clip: text; }

.des p {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
  margin-top: 55px;
  margin-bottom: 115px; }

.des input {
  padding: 20px 0;
  padding-left: 30px;
  padding-right: 200px;
  border-radius: 50px;
  width: 600px;
  color: #999999;
  font-size: 15px;
  font-weight: 400; }
  .des input:focus {
    outline: 0; }

.des button {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 18px;
  font-weight: 500;
  padding: 18px 25px;
  border-radius: 50px;
  background-color: #fc3d4d;
  color: #fff;
  position: relative;
  top: -57px;
  left: 407px;
  border: none;
  transition: .5s;
  z-index: 2;
  cursor: pointer; }
  .des button:hover {
    background-color: #1ff73c; }
  .des button i {
    margin-left: 6px;
    position: relative;
    top: 2px; }

.banner__img img {
  position: absolute;
  top: 100px;
  left: -165px;
  z-index: 1; }

.header__price span {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin-top: 25px;
  margin-right: 22px; }

.header__price a {
  font-size: 16px;
  font-weight: 400;
  color: #c6323f;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px dotted #c6323f;
  transition: .5s; }
  .header__price a:hover i {
    transform: translateX(10px);
    transition: .5s; }

.col-1-of-4 {
  width: calc((100%) / 4);
  float: left;
  padding: 30px; }

.col-1-of-4 .col-1-of-2 h2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 15px;
  margin-top: 40px; }

.col-1-of-4 .col-1-of-2 p {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 45px; }

.col-1-of-4 .col-1-of-2 span {
  font-size: 50px;
  line-height: 24px;
  font-weight: 100;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 10px; }

.col-1-of-4 .col-1-of-2 h3 {
  font-size: 15px;
  font-weight: 400;
  color: #fff; }

.col-1-of-4 .col-1-of-2 img {
  margin-left: -120px; }

.col-1-of-4 ul {
  list-style: none; }
  .col-1-of-4 ul li:not(:first-child) {
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    color: #fff; }
  .col-1-of-4 ul li:first-child {
    font-size: 15px;
    line-height: 30px;
    font-weight: 700;
    color: #fff; }
  .col-1-of-4 ul a {
    padding: 13px 40px;
    border: 2px solid #fff;
    color: #fff;
    display: inline-block;
    border-radius: 50px;
    font-size: 13px;
    line-height: 18px;
    font-weight: 700;
    text-decoration: none;
    margin: 40px 0 0px 20px;
    transition: .5s; }
    .col-1-of-4 ul a:hover {
      border: 2px solid transparent;
      color: #fc3d4d;
      background-color: #fff; }

.bg__color1 {
  background-image: linear-gradient(to right bottom, #049ec0, #04d4d5);
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  overflow: hidden;
  margin: 125px 0; }

.bg__color2 {
  background-image: linear-gradient(to right bottom, #fa7236, #ff0e62);
  overflow: hidden;
  margin: 125px 0; }

.bg__color3 {
  background-image: linear-gradient(to right bottom, #b25fcc, #652dfb);
  overflow: hidden;
  margin: 125px 0; }

.bg__color4 {
  background-image: linear-gradient(to right bottom, #dfad51, #ff7c03);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
  margin: 125px 0; }

.price__footer--last {
  text-align: center; }
  .price__footer--last p {
    color: #8998af;
    font-size: 18px;
    line-height: 40px;
    font-weight: 400; }
    .price__footer--last p i {
      color: #fc3d4d; }
  .price__footer--last h2 {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 100px;
    color: #8998af; }
    .price__footer--last h2 span {
      color: #fc3d4d; }
